.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 20px;
  width: 100%;
  text-align: center;
}
.logo{
  height: 50px;
  width: 100px;
}

.navbar-brand-custom {
  margin-right: 0px ! important;
  padding: 0px 0px ! important;
}

.custom-align{
  text-align: center;
}

